.main
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header--group
        %p.chat-main__header--group__name Sampleグループ
        =link_to "" do
          %p.chat-main__header--group__edit-btn edit
        %p.chat-main__header--group__member Members: seo Neko
    .chat-main__body
      = render partial: 'chats/chat'
      = render partial: 'chats/chat'
    .chat-main__footer
      %form.chat-main__footer--form
        .chat-main__footer--form__body
          %input.chat-main__footer--form__body--message{type: "text",placeholder: "type a message"}/
          %label.chat-main__footer--form__body--chat-file
            %input.chat-main__footer--form__body--chat-file__filelabel{type: "file" ,title:"ファイルを選択"}
            %i.far.fa-image

          %input.chat-main__footer--form__body--submit{type: "submit",value:"Send"}/
